@font-face {
  font-family: 'BalsamiqSans';
  src:
    local('BalsamiqSans-Regular'),
    url('./assets/fonts/BalsamiqSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/BalsamiqSans-Regular.woff') format('woff'),
    url('./assets/fonts/BalsamiqSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BalsamiqSans';
  src:
    local('BalsamiqSans-Bold'),
    url('./assets/fonts/BalsamiqSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/BalsamiqSans-Bold.woff') format('woff'),
    url('./assets/fonts/BalsamiqSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: BalsamiqSans, serif;
}

#root {
  margin: 0;
  padding: 5vh 5vw;
  min-height: 100vh;
  position: relative;
  background: url('./assets/images/nature.jpg') center/cover no-repeat;
}

body {
  margin: 0;
  cursor: url('./assets/images/cursor.png'), auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 10px;
  list-style: none;
}

li {
  overflow-wrap: break-word;
}

label {
  cursor: url('./assets/images/cursor.png'), auto;
}

main {
  flex-grow: 1;
}

footer {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 70px;
  text-align: center;
}

.container {
  width: 90vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  border-radius: 20px;
  overflow: hidden;
}

.header__nav {
  height: 100px;
  display: flex;
  align-items: center;
  gap: 0;
}

.header__nav_item {
  width: 25%;
  height: 100%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.header__nav_item:last-child {
  border-right: none;
}

.header__nav_link {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 22px;
}

.timeout-1 {
  opacity: 0;
  animation: fadeIn 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.timeout-2 {
  opacity: 0;
  animation: fadeIn 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.active-link {
  background: rgba(175, 0, 0, 0.51);
}

.title {
  text-align: center;
}

.page__description {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.my-button {
  font-size: 22px;
  line-height: 1.5;
  padding: 5px 10px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 150ms;
  box-sizing: content-box;
}

.my-button:active {
  transform: scale(90%);
}

.my-button:disabled {
  transform: none;
  cursor: inherit;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date {
  margin: 0;
  font-size: 48px;
  color: darkred;
}

.timer-description {
  font-size: 18px;
  font-weight: bold;
}

.date-input {
  font-size: 18px;
}

.date-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  border: 1px solid black;
  border-radius: 20px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  border: 2px solid black;
}

.field-name {
  font-weight: bold;
}

.form-bio {
  width: 250px;
  height: 275px;
  font-size: 20px;
  line-height: 1.5;
  resize: none;
}

.warning {
  width: 250px;
  color: darkred;
  font-weight: bold;
  height: 20px;
}

.empty-warning {
  visibility: hidden;
  height: 20px;
}

.password-strength {
  text-align: end;
  height: 20px;
}

.gender-container {
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: flex-end;
  margin: 20px 0;
}

.gender-label {
  display: flex;
  justify-content: flex-start;
}

.gender-label:last-child {
  margin-bottom: 0;
}

.gender-input {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
}

.accept-label {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

.accept-input {
  width: 15px;
}

.file-container {
  display: flex;
  justify-content: space-between;
}

input[type='file'] {
  width: 230px;
  margin-bottom: 20px;
  border-radius: initial;
}

.accept-container {
  margin-bottom: 10px;
}

.countries-label {
  display: block;
  position: relative;
  margin-bottom: 20px;
}

.countries-container {
  position: absolute;
  top: 76px;
  width: 230px;
  max-height: 400px;
  overflow: auto;
  background-color: lightgray;
  border-radius: 10px;
}

.countries-container::-webkit-scrollbar {
  width: 0;
}

.country {
  padding: 2px;
}

.country:hover {
  background-color: aqua;
  cursor: pointer;
}

.form-input {
  width: 250px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 5px;
}

.users-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.user-container {
  width: 225px;
  border: 2px solid red;
  border-radius: 20px;
  background: white;
}

.name {
  font-weight: bold;
}
